/* ------------- GENERAL STYLES -------------- */

/* -------------- PAGE STRUCTURE -------------- */
body {
  display: grid;
  grid-template-columns: 80vw;
  grid-template-rows: max-content minmax(15rem, 2fr) 1fr;
  row-gap: 3.2rem;

  justify-content: space-around;

  background-image: linear-gradient(
    to bottom right,
    var(--color-main),
    var(--color-primary-light)
  );
}

body:has(main[data-show="description"]) {
  grid-template-rows: 0.55fr minmax(15rem, 2fr) 0.7fr;
}

.back-btn {
  opacity: 0;
  visibility: none;
}

body[data-type="column"] {
  width: 100vw;
  padding: 3.8rem 2.4rem;

  grid-template-columns: 4fr 6fr;
  grid-template-rows: repeat(5, 1fr);

  gap: 0 3.2rem;
}

/* -------------- HEADER --------------*/
header {
  height: inherit;
  padding-top: 3.8rem;
}

body[data-type="column"] header {
  grid-column: 1 / 2;
  grid-row: 1 / 4; /* span from 1st to 3rd column */
}

body[data-type="column"] header h1 {
  font-size: 6.4rem;
}

h1 {
  text-transform: uppercase;
  font-size: 12.8rem;
  font-weight: 1000;

  text-align: center;

  text-shadow: var(--text-outline), var(--shadow-heading);
  color: var(--color-primary);
}

/* -------------- FOOTER -------------- */
.footer {
  color: var(--color-dark);
  font-weight: 300;
  font-size: 1.4rem;

  text-align: center;
  align-self: flex-end;
  margin-bottom: 0.6rem;
}

body[data-type="column"] footer {
  grid-column: 1 / -1;
  grid-row: 5 / -1;
}

/* -------------- MEDIA QUERIES -------------- */
@media screen and (min-width: 90em) /* 1440px */ {
  body {
    grid-template-columns: 60vw;
  }
}
