/* ------------- GENERAL STYLES -------------- */

/* -------------- PAGE STRUCTURE -------------- */
body {
  display: grid;
  grid-template-columns: 80vw;
  grid-template-rows: max-content minmax(15rem, 2fr) 1fr;
  row-gap: 3.2rem;

  justify-content: space-around;

  background-image: linear-gradient(
    to bottom right,
    var(--color-main),
    var(--color-primary-light)
  );
}

body:has(main[data-show="description"]) {
  grid-template-rows: 0.55fr minmax(15rem, 2fr) 0.6fr;
}

.back-btn {
  opacity: 0;
  visibility: hidden;
}

body[data-type="column"] {
  padding: 3.8rem 2.4rem;

  grid-template-columns: 4fr 6fr;
  grid-template-rows: repeat(4, 1fr) max-content;

  gap: 0 3.2rem;
}

/* -------------- HEADER --------------*/
header {
  height: inherit;
  padding-top: 3.8rem;
}

body[data-type="column"] header {
  grid-column: 1 / 2;
  grid-row: 1 / 5; /* span from 1st to 3rd column */
}

body[data-type="column"] header h1 {
  font-size: 6.4rem;
}

h1 {
  text-transform: uppercase;
  font-size: 12.8rem;
  font-weight: 1000;

  text-align: center;

  text-shadow: var(--text-outline), var(--shadow-heading);
  color: var(--color-primary);
}

/* -------------- FOOTER -------------- */
.footer {
  color: var(--color-dark);
  font-weight: 300;
  font-size: 1.4rem;

  text-align: center;
  align-self: flex-end;
  margin-bottom: 0.6rem;
}

body[data-type="column"] footer {
  grid-column: 1 / -1;
  grid-row: 5 / -1;
}

/* -------------- TOPLIST -------------- */

.toplist {
  position: absolute;
  top: 4rem;
  left: 4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: 4px solid var(--color-primary-dark);
  border-radius: 15px;
  background-color: var(--color-light);

  width: 15%;
  padding: 2rem 3rem;
}

.toplist-content {
  visibility: visible;
  opacity: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  height: auto;

  overflow: scroll;

  color: var(--color-dark2);
}

.toplist:has(.toplist-content[data-toplist="false"]) {
  background-color: transparent;
  border: none;
  padding: 0;
  width: max-content;
}

.toplist-content[data-toplist="false"] {
  height: 0;
  visibility: hidden;
  opacity: 0;
}

.toplist-heading {
  font-size: 2.8rem;
  font-weight: 800;
}

.toplist-list {
  font-size: 1.4rem;
  list-style-type: decimal;
  max-height: 10rem;
}

.toplist-list div li * {
  display: inline-block;
  margin-left: 0.5rem;
}

.toplist-name {
  text-transform: uppercase;
  font-weight: 600;
}

.toplist-time {
  font-weight: 400;
}

.toggle-toplist {
  border: 3px solid var(--color-primary-dark);
  border-radius: 15px;
  background-color: var(--color-light);

  padding: 1rem 2rem;
  text-align: center;
  text-transform: uppercase;

  font-size: 2rem;
  font-weight: 800;

  color: var(--color-dark);

  transition: 0.4s all;
}

.toggle-toplist:hover {
  border-color: var(--color-secondary);
  background-color: var(--color-secondary-light);
}

/* -------------- MEDIA QUERIES -------------- */
@media screen and (min-width: 90em) /* 1440px */ {
  body {
    grid-template-columns: 60vw;
  }
}
